@import 'variables';

*{

    box-sizing: border-box;
}

html {
    font-family: 'Play', sans-serif;}

body {
    padding: 0% 5% 2% 5% ;
    background-image: url(../assets/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Play', sans-serif;
 
}

// HEADER

header {
    nav{
        
        .container-fluid{
            display: flex;
            flex-wrap: inherit;
            align-items: center;
            justify-content: space-between;
        }
    }

    .logo {
        width: 150px;
        height: 150px;
    }
}


// FOOTER

footer {

    width: 100%;
    border-radius: 30px;
    background-color: rgba(92, 92, 92, 0.486);
    
}



